


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Sound Title</th>
            <th>Description</th>
            <th>Length</th>
            <th>Sample</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sound in sounds" >
            <td>{{sound.Title}}</td>
            <td>{{sound.Genre}}</td>
            <td>{{sound.Time}}</td>
            <td><button ng-click="play(sound)"><i class="icon-volume-up"></i> Preview</button> <button ng-click="stop(sound)"><i class="icon-stop"</i></button></td>
        </tr>
    </tbody>
</table>




<!--<div ng-repeat="sound in sounds">
    <a href="#" ng-click="play(sound.sound)">Test Me Out</a>

</div>-->


